.git
.idea
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
*.code-workspace
jsconfig.json
widgets/materialdesign/img/preview_2.jpg
widgets/materialdesign/img/preview_3.jpg
widgets/materialdesign/js/charts/*
widgets/materialdesign/js/google-charts-api.js
package-lock.json
