# exclude all dot-files and directories
.*

.git
.idea
node_modules/
nbproject/
examples/
.vs*/
Thumbs.db

test/
travis/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml

# npm package files
iobroker.*.tgz
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**