/*
    ioBroker.vis vis-materialdesign Widget-Set

    version: "0.2.20"

    Copyright 2019 Scrounger scrounger@gmx.net
*/

:root{
  --mdc-theme-primary: #44739e;
  --mdc-theme-secondary: #44739e;

  --material-progress-circular-color: #44739e;

  --materialdesign-color-drawer-background: #fff;
  --materialdesign-color-drawer-sub-background: #fff;
  --materialdesign-color-list-item-background: #fff;
  --materialdesign-color-sub-list-item-background: #fff;

  --materialdesign-color-list-item-hover: #000;
  --materialdesign-color-sub-list-item-hover: #000;
  --materialdesign-color-list-item-selected: #000;
  --materialdesign-color-sub-list-item-selected: #000;
  
  --materialdesign-color-list-item-text: #000;
  --materialdesign-color-sub-list-item-text: #000;
  --materialdesign-color-list-item-text-activated: #44739e;
  --materialdesign-color-sub-list-item-text-activated: #44739e;

  --materialdesign-color-list-item-text-secondary: rgba(0, 0, 0, 0.54);

  --materialdesign-color-list-item-text-right: #000;
  --materialdesign-color-list-item-text-secondary-right: rgba(0, 0, 0, 0.54);

  --materialdesign-color-list-item-header: #000;
  --materialdesign-color-list-item-divider: rgba(0, 0, 0, 0.12);

  --materialdesign-color-list-item-backdrop: rgba(0,0,0,0.5);
  --materialdesign-color-sub-list-item-backdrop: rgba(0,0,0,0.5);
  --materialdesign-color-list-item-backdrop-activated: #1e88e566;
  --materialdesign-color-sub-list-item-backdrop-activated: #1e88e566;

  --materialdesign-color-card-background: #fff;
  --materialdesign-color-card-title-section-background: transparent;
  --materialdesign-color-card-text-section-background: transparent;
  --materialdesign-color-card-title: #44739e;
  --materialdesign-color-card-sub-title: #a1a1a1;

  --materialdesign-color-select-background: transparent;
  --materialdesign-color-select-background-hover: rgba(0, 0, 0, 0.87);
  --materialdesign-color-select-hint: #44739e;
  --materialdesign-color-select-hint_selected: #44739e;
  --materialdesign-color-select-border: rgba(0,0,0,.38);
  --materialdesign-color-select-border-selected: #44739e;
  --materialdesign-color-select-text: rgba(0, 0, 0, 0.87);;
  
  --materialdesign-color-dialog-background: #fff;
  --materialdesign-color-dialog-button-background: transparent;
  --materialdesign-color-dialog-button-text: #44739e;
  --materialdesign-color-dialog-button-hover: #44739e;
  --materialdesign-color-dialog-title-background: transparent;
  --materialdesign-color-dialog-title: #44739e;

  --materialdesign-color-table-background: #fff;
  --materialdesign-color-table-border: rgba(0,0,0,.12);
  --materialdesign-color-table-header-row-background: inherit;
  --materialdesign-color-table-header-row-text-color: #44739e;
  --materialdesign-color-table-row-background: inherit;
  --materialdesign-color-table-row-text-color: rgba(0, 0, 0, 0.87);
  --materialdesign-color-table-row-divider: rgba(0, 0, 0, 0.12);

  --materialdesign-color-switch-on: #44739e;
  --materialdesign-color-switch-off: #fff;
  --materialdesign-color-switch-track: #000;
  --materialdesign-color-switch-off-hover: #44739e;

  --materialdesign-color-slider-before-thumb: #44739e;
  --materialdesign-color-slider-thumb: #44739e;
  --materialdesign-color-slider-after-thumb: rgba(161, 161, 161, 0.26);
  --materialdesign-color-slider-track-marker: #44739e;
}

/* Button style -> must defined here because of position bug in vis editor */
.materialdesign-button {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  padding: 0 8px 0 8px;
  /* display: inline-flex; */
  /* position: relative;  --> caused position bug in vis editor */ 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 36px;
  border: none;
  outline: none;
  /* @alternate */
  line-height: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
}
.materialdesign-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.materialdesign-button:active {
  outline: none;
}
.materialdesign-button:hover {
  cursor: pointer;
}
.materialdesign-button:disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none;
}
.materialdesign-button.materialdesign-button--dense {
  border-radius: 4px;
}
.materialdesign-button:not(:disabled) {
  background-color: transparent;
}
.materialdesign-button .materialdesign-button__icon {
  /* @noflip */
  margin-left: 0;
  /* @noflip */
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}
[dir=rtl] .materialdesign-button .materialdesign-button__icon, .materialdesign-button .materialdesign-button__icon[dir=rtl] {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: 0;
}
.materialdesign-button:not(:disabled) {
  color: #6200ee;
  /* @alternate */
  color: var(--mdc-theme-primary, #6200ee);
}

.materialdesign-button__label + .materialdesign-button__icon {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: 0;
}
[dir=rtl] .materialdesign-button__label + .materialdesign-button__icon, .materialdesign-button__label + .materialdesign-button__icon[dir=rtl] {
  /* @noflip */
  margin-left: 0;
  /* @noflip */
  margin-right: 8px;
}

svg.materialdesign-button__icon {
  fill: currentColor;
}

.materialdesign-button--raised .materialdesign-button__icon,
.materialdesign-button--unelevated .materialdesign-button__icon,
.materialdesign-button--outlined .materialdesign-button__icon {
  /* @noflip */
  margin-left: -4px;
  /* @noflip */
  margin-right: 8px;
}
[dir=rtl] .materialdesign-button--raised .materialdesign-button__icon, .materialdesign-button--raised .materialdesign-button__icon[dir=rtl],
[dir=rtl] .materialdesign-button--unelevated .materialdesign-button__icon,
.materialdesign-button--unelevated .materialdesign-button__icon[dir=rtl],
[dir=rtl] .materialdesign-button--outlined .materialdesign-button__icon,
.materialdesign-button--outlined .materialdesign-button__icon[dir=rtl] {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: -4px;
}
.materialdesign-button--raised .materialdesign-button__label + .materialdesign-button__icon,
.materialdesign-button--unelevated .materialdesign-button__label + .materialdesign-button__icon,
.materialdesign-button--outlined .materialdesign-button__label + .materialdesign-button__icon {
  /* @noflip */
  margin-left: 8px;
  /* @noflip */
  margin-right: -4px;
}
[dir=rtl] .materialdesign-button--raised .materialdesign-button__label + .materialdesign-button__icon, .materialdesign-button--raised .materialdesign-button__label + .materialdesign-button__icon[dir=rtl],
[dir=rtl] .materialdesign-button--unelevated .materialdesign-button__label + .materialdesign-button__icon,
.materialdesign-button--unelevated .materialdesign-button__label + .materialdesign-button__icon[dir=rtl],
[dir=rtl] .materialdesign-button--outlined .materialdesign-button__label + .materialdesign-button__icon,
.materialdesign-button--outlined .materialdesign-button__label + .materialdesign-button__icon[dir=rtl] {
  /* @noflip */
  margin-left: -4px;
  /* @noflip */
  margin-right: 8px;
}

.materialdesign-button--raised,
.materialdesign-button--unelevated {
  padding: 0 16px 0 16px;
}
.materialdesign-button--raised:disabled,
.materialdesign-button--unelevated:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.37);
}
.materialdesign-button--raised:not(:disabled),
.materialdesign-button--unelevated:not(:disabled) {
  background-color: #6200ee;
}
@supports not (-ms-ime-align: auto) {
  .materialdesign-button--raised:not(:disabled),
.materialdesign-button--unelevated:not(:disabled) {
    /* @alternate */
    background-color: var(--mdc-theme-primary, #6200ee);
  }
}
.materialdesign-button--raised:not(:disabled),
.materialdesign-button--unelevated:not(:disabled) {
  color: #fff;
  /* @alternate */
  color: var(--mdc-theme-on-primary, #fff);
}

.materialdesign-button--raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.materialdesign-button--raised:hover, .materialdesign-button--raised:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.materialdesign-button--raised:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.materialdesign-button--raised:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.materialdesign-button--outlined {
  border-style: solid;
  padding: 0 15px 0 15px;
  border-width: 1px;
}
.materialdesign-button--outlined:disabled {
  border-color: rgba(0, 0, 0, 0.37);
}
.materialdesign-button--outlined:not(:disabled) {
  border-color: #6200ee;
  /* @alternate */
  border-color: var(--mdc-theme-primary, #6200ee);
}

.materialdesign-button--dense {
  height: 32px;
  font-size: 0.8125rem;
}

@-webkit-keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
            transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
  }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
            transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
  }
}

@keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
            transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
  }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
            transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
  }
}
@-webkit-keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
  }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
}
@keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
  }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
}
@-webkit-keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
  to {
    opacity: 0;
  }
}
@keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
  to {
    opacity: 0;
  }
}
.mdc-ripple-surface--test-edge-var-bug {
  --mdc-ripple-surface-test-edge-var: 1px solid #000;
  visibility: hidden;
}
.mdc-ripple-surface--test-edge-var-bug::before {
  border: var(--mdc-ripple-surface-test-edge-var);
}

.materialdesign-button {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.materialdesign-button::before, .materialdesign-button::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.materialdesign-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.materialdesign-button.mdc-ripple-upgraded::before {
  -webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
          transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.materialdesign-button.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.materialdesign-button.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0);
}
.materialdesign-button.mdc-ripple-upgraded--foreground-activation::after {
  -webkit-animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
          animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.materialdesign-button.mdc-ripple-upgraded--foreground-deactivation::after {
  -webkit-animation: mdc-ripple-fg-opacity-out 150ms;
          animation: mdc-ripple-fg-opacity-out 150ms;
  -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
          transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.materialdesign-button::before, .materialdesign-button::after {
  top: calc(50% - 100%);
  /* @noflip */
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}
.materialdesign-button.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.materialdesign-button::before, .materialdesign-button::after {
  background-color: #6200ee;
}
@supports not (-ms-ime-align: auto) {
  .materialdesign-button::before, .materialdesign-button::after {
    /* @alternate */
    background-color: var(--mdc-theme-primary, #6200ee);
  }
}
.materialdesign-button:hover::before {
  opacity: 0.04;
}
.materialdesign-button:not(.mdc-ripple-upgraded):focus::before, .materialdesign-button.mdc-ripple-upgraded--background-focused::before {
  transition-duration: 75ms;
  opacity: 0.12;
}
.materialdesign-button:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.materialdesign-button:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.12;
}
.materialdesign-button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}

.materialdesign-button--raised::before, .materialdesign-button--raised::after,
.materialdesign-button--unelevated::before,
.materialdesign-button--unelevated::after {
  background-color: #fff;
}
@supports not (-ms-ime-align: auto) {
  .materialdesign-button--raised::before, .materialdesign-button--raised::after,
.materialdesign-button--unelevated::before,
.materialdesign-button--unelevated::after {
    /* @alternate */
    background-color: var(--mdc-theme-on-primary, #fff);
  }
}
.materialdesign-button--raised:hover::before,
.materialdesign-button--unelevated:hover::before {
  opacity: 0.08;
}
.materialdesign-button--raised:not(.mdc-ripple-upgraded):focus::before, .materialdesign-button--raised.mdc-ripple-upgraded--background-focused::before,
.materialdesign-button--unelevated:not(.mdc-ripple-upgraded):focus::before,
.materialdesign-button--unelevated.mdc-ripple-upgraded--background-focused::before {
  transition-duration: 75ms;
  opacity: 0.24;
}
.materialdesign-button--raised:not(.mdc-ripple-upgraded)::after,
.materialdesign-button--unelevated:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.materialdesign-button--raised:not(.mdc-ripple-upgraded):active::after,
.materialdesign-button--unelevated:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.24;
}
.materialdesign-button--raised.mdc-ripple-upgraded,
.materialdesign-button--unelevated.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.24;
}


/* Icon Button */
.materialdesign-icon-button {
  border-radius:  100%;
  width: 48px;
  height: 48px;
  padding: 12px;
  font-size: 24px;
  display: inline-block;
  /* position: relative;  --> caused position bug in vis editor */ 
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  fill: currentColor;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.materialdesign-icon-button svg,
.materialdesign-icon-button img {
  width: 24px;
  height: 24px;
}
.materialdesign-icon-button:disabled {
  color: rgba(0, 0, 0, 0.38);
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38));
  cursor: default;
  pointer-events: none;
}

.materialdesign-icon-button__icon {
  display: inline-block;
}
.materialdesign-icon-button__icon.materialdesign-icon-button__icon--on {
  display: none;
}

.materialdesign-icon-button--on .materialdesign-icon-button__icon {
  display: none;
}
.materialdesign-icon-button--on .materialdesign-icon-button__icon.materialdesign-icon-button__icon--on {
  display: inline-block;
}

.materialdesign-icon-button {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.materialdesign-icon-button::before, .materialdesign-icon-button::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.materialdesign-icon-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.materialdesign-icon-button.mdc-ripple-upgraded::before {
  -webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
          transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.materialdesign-icon-button.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.materialdesign-icon-button.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0);
}
.materialdesign-icon-button.mdc-ripple-upgraded--foreground-activation::after {
  -webkit-animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
          animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.materialdesign-icon-button.mdc-ripple-upgraded--foreground-deactivation::after {
  -webkit-animation: mdc-ripple-fg-opacity-out 150ms;
          animation: mdc-ripple-fg-opacity-out 150ms;
  -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
          transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.materialdesign-icon-button::before, .materialdesign-icon-button::after {
  top: calc(50% - 50%);
  /* @noflip */
  left: calc(50% - 50%);
  width: 100%;
  height: 100%;
}
.materialdesign-icon-button.mdc-ripple-upgraded::before, .materialdesign-icon-button.mdc-ripple-upgraded::after {
  top: var(--mdc-ripple-top, calc(50% - 50%));
  /* @noflip */
  left: var(--mdc-ripple-left, calc(50% - 50%));
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.materialdesign-icon-button.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.materialdesign-icon-button::before, .materialdesign-icon-button::after {
  background-color: var(--mdc-theme-primary, #000);
}
.materialdesign-icon-button:hover::before {
  opacity: 0.04;
}
.materialdesign-icon-button:not(.mdc-ripple-upgraded):focus::before, .materialdesign-icon-button.mdc-ripple-upgraded--background-focused::before {
  transition-duration: 75ms;
  opacity: 0.12;
}
.materialdesign-icon-button:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.materialdesign-icon-button:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.12;
}
.materialdesign-icon-button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}

/* Default progress settings */
.mdc-linear-progress {
  height: 100%;
}

.mdc-linear-progress__bar-inner {
  border-top: 200px solid;
  border-top-color: #44739e;
}


/* Card Layout */
.materialdesign-html-card.mdc-card{
  border-radius: 4px;
  background-color: var(--materialdesign-color-card-background);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: black;
}

.materialdesign-html-card.card-title-section{
  visibility: visible;
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--materialdesign-color-card-title-section-background);
}

.materialdesign-html-card.card-text-section{
  visibility: visible;
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--materialdesign-color-card-text-section-background);
}

.materialdesign-html-card.card-title {
  color: var(--materialdesign-color-card-title);
}

.materialdesign-html-card.card-subtitle {
  color: var(--materialdesign-color-card-sub-title);
}

.materialdesign-html-card.card-custom-body {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.materialdesign-html-card.mdc-card__media-content{
  display: flex;
  align-items: flex-end;
  padding-bottom: 16px
}

.materialdesign-html-card.horizontal-container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;  
}

.materialdesign-html-card.mdc-card__media--square{
  width: 100%;
}

/* Default checkbox color */
.mdc-checkbox {
  --mdc-theme-secondary: #44739e;
}

/* Drawer container */
.drawer-frame-root {
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

/* Drawer container */
.drawer-app-content {
    -ms-flex: auto;
    flex: auto;
    overflow: auto
}

/* Drawer container */
.drawer-main-content {
    overflow: auto;
    height: 100%;
}

/* Drawer container */
.drawer-frame-app-content {
  position: relative;
}

/* App Top Bar Short */
.mdc-top-app-bar--short-fixed-adjust {
  padding-top: 0px;
}

.materialdesign-list-item-backdrop-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: auto; 
  background-color: var(--materialdesign-color-list-item-backdrop);
  padding-left: 8px;
  padding-right: 8px;
}

.materialdesign-list-item-backdrop-container.isSubItem {
  background-color: var(--materialdesign-color-sub-list-item-backdrop);
}

/* Drawer container */
.materialdesign-topAppBar-vis-view-container{
  position: absolute;
}

.mdc-drawer {
  background-color: var(--materialdesign-color-drawer-background);
}


/* Drawer Header default Color */
.mdc-drawer__header {
  background-color: #44739e;
}

.mdc-drawer .mdc-drawer__title {
  color: white;
}

.mdc-drawer .mdc-drawer__subtitle {
  color: white;
}


/* Default list color */
.mdc-list {
  padding: 0;  
}

.mdc-sub-list {
  display: none;
  background-color: var(--materialdesign-color-drawer-sub-background);
}

.mdc-list-item {
  min-height: 40px !important; 
  height: auto !important;
  background-color: var(--materialdesign-color-list-item-background);
}

.mdc-sub-list-item {
  background-color: var(--materialdesign-color-sub-list-item-background);
}


.mdc-sub-list .mdc-list-item {
  padding: 0 16px;
}

/* hover item -> use var*/
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:hover::before {
  background-color: var(--materialdesign-color-list-item-hover);
  opacity: 0.1;
}
:not(.mdc-sub-list--non-interactive) > :not(.mdc-sub-list-item--disabled).mdc-sub-list-item:hover::before {
  background-color: var(--materialdesign-color-sub-list-item-hover);
  opacity: 0.1;
}

/* hover item -> use var*/
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:hover::after {
  background-color: var(--materialdesign-color-list-item-hover);
}
:not(.mdc-sub-list--non-interactive) > :not(.mdc-sub-list-item--disabled).mdc-sub-list-item:hover::after {
  background-color: var(--materialdesign-color-sub-list-item-hover);
}

/* selected color */
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after{
  background-color: var(--materialdesign-color-list-item-selected);
}
:not(.mdc-sub-list--non-interactive) > :not(.mdc-sub-list-item--disabled).mdc-sub-list-item::before, :not(.mdc-sub-list--non-interactive) > :not(.mdc-sub-list-item--disabled).mdc-sub-list-item::after{
  background-color: var(--materialdesign-color-sub-list-item-selected);
}

:not(.mdc-list-item--disabled).mdc-list-item{
  color: var(--materialdesign-color-list-item-text);
}
:not(.mdc-sub-list--non-interactive) > :not(.mdc-sub-list-item--disabled).mdc-sub-list-item{
  color: var(--materialdesign-color-sub-list-item-text);
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated {
  color: var(--materialdesign-color-list-item-text-activated);
}

:not(.mdc-sub-list--non-interactive) > :not(.mdc-sub-list-item--disabled).mdc-sub-list-item.mdc-list-item--activated {
  color: var(--materialdesign-color-sub-list-item-text-activated);
}

/* backdrop container */
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated .materialdesign-list-item-backdrop-container {
  background-color: var( --materialdesign-color-list-item-backdrop-activated);
}
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated .materialdesign-list-item-backdrop-container.isSubItem {
  background-color: var( --materialdesign-color-sub-list-item-backdrop-activated);
}

.mdc-list-item__secondary-text {
  color: var(--materialdesign-color-list-item-text-secondary);
}

.mdc-list-item__text.materialdesign-list-item-text-right {
  color: var(--materialdesign-color-list-item-text-right);
}

.mdc-list-item__primary-text.materialdesign-list-item-text-right {
  color: var(--materialdesign-color-list-item-text-right);
}

.mdc-list-item__secondary-text.materialdesign-list-item-text-right {
  color: var(--materialdesign-color-list-item-text-secondary-right);
}

.mdc-list-group__subheader {
  color: var(--materialdesign-color-list-item-header);
}

.mdc-drawer .mdc-list-group__subheader {
  color: var(--materialdesign-color-list-item-header);
}

.mdc-list-divider { 
  border-bottom-color: var(--materialdesign-color-list-item-divider);
}

.mdc-list-item__primary-text {
  display: flex;
}

.materialdesign-list-card{
  border-radius: 4px;
  background-color: #fff;
  /* @alternate */
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: black;
}

.materialdesign-list-card--outlined {
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

/* mdc-Select */
.mdc-select__anchor {
  width: 100%;
}

.mdc-select:not(.mdc-select--disabled){
  background-color: var(--materialdesign-color-select-background);
}

.mdc-select::before, .mdc-select::after{
  background-color: var(--materialdesign-color-select-background-hover);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, 
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  border-color: var(--materialdesign-color-select-border);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-line-ripple {
  background-color: var(--materialdesign-color-select-border-selected);
}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, 
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, 
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
  border-color: var(--materialdesign-color-select-border);
}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__trailing, .mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__selected-text:hover ~ .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__selected-text:hover ~ .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__selected-text:hover ~ .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--materialdesign-color-select-background-hover);
}

.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading, 
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch, 
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--materialdesign-color-select-border-selected);
}

.mdc-select--with-leading-icon.mdc-select__menu .mdc-list-item__text {
  padding-left: 8px;
  padding-right: 8px;
}

.mdc-select__menu .mdc-list-item .mdc-list-item__graphic {
  margin-right: 0px;
}

/* hint */
.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
  color: var(--materialdesign-color-select-hint);
}

/* hint selected */
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--materialdesign-color-select-hint_selected);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control,
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  color: var(--materialdesign-color-select-text);
}

/* Dialog */
.mdc-dialog .mdc-dialog__surface {
  min-width: none !important;
  max-width: none !important;
  min-height: none !important;
  max-height: none !important;
  background-color: var(--materialdesign-color-dialog-background);
}

.mdc-dialog__content {
  padding: 0 24px;
}

.mdc-button:not(:disabled) {
  background-color: var(--materialdesign-color-dialog-button-background);
  color: var(--materialdesign-color-dialog-button-text);
}

.mdc-dialog .mdc-button {
  --mdc-theme-primary: var(--materialdesign-color-dialog-button-hover);
}

.mdc-dialog__title {
  background-color: var(--materialdesign-color-dialog-title-background);
  color: var(--materialdesign-color-dialog-title) !important;
}

/* Table */
.mdc-data-table {
  background-color: var(--materialdesign-color-table-background);
  border-color: var(--materialdesign-color-table-border)
}

.mdc-data-table__table {
  white-space: unset;
}

.mdc-data-table__header-row {
  background-color: var(--materialdesign-color-table-header-row-background);
}

.mdc-data-table__header-cell {
  color: var(--materialdesign-color-table-header-row-text-color);
  cursor: pointer;
  height: auto;
}

.mdc-data-table__row {
  background-color: var(--materialdesign-color-table-row-background);
  border-top-color: var(--materialdesign-color-table-row-divider); 
}

.mdc-data-table__cell {
  color: var(--materialdesign-color-table-row-text-color);
  height: auto;
}

.material-progress-circular-container {
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: calc(50% - 1.5em);
  top: calc(40% - 1.5em);
}

.material-progress-circular {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0.25em;
  width: 2em;
  height: 2em;
  color: var(--material-progress-circular-color);
  background-color: transparent;
  font-size: 16px;
  overflow: hidden;
  
}

.material-progress-circular::-webkit-progress-bar {
  background-color: transparent;
}

/* Indeterminate */
.material-progress-circular:indeterminate {
  -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  animation: material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .material-progress-circular:indeterminate {
  animation: none;
}

.material-progress-circular:indeterminate::before,
.material-progress-circular:indeterminate::-webkit-progress-value {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100% !important;
  height: 100%;
  background-color: transparent;
  animation: material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.material-progress-circular:indeterminate::-moz-progress-bar {
  box-sizing: border-box;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.material-progress-circular:indeterminate::-ms-fill {
  animation-name: -ms-ring;
}

@keyframes material-progress-circular {
  0% {
      transform: rotate(0deg);
  }
  12.5% {
      transform: rotate(180deg);
      animation-timing-function: linear;
  }
  25% {
      transform: rotate(630deg);
  }
  37.5% {
      transform: rotate(810deg);
      animation-timing-function: linear;
  }
  50% {
      transform: rotate(1260deg);
  }
  62.5% {
      transform: rotate(1440deg);
      animation-timing-function: linear;
  }
  75% {
      transform: rotate(1890deg);
  }
  87.5% {
      transform: rotate(2070deg);
      animation-timing-function: linear;
  }
  100% {
      transform: rotate(2520deg);
  }
}

@keyframes material-progress-circular-pseudo {
  0% {
      transform: rotate(-30deg);
  }
  29.4% {
      border-left-color: transparent;
  }
  29.41% {
      border-left-color: currentColor;
  }
  64.7% {
      border-bottom-color: transparent;
  }
  64.71% {
      border-bottom-color: currentColor;
  }
  100% {
      border-left-color: currentColor;
      border-bottom-color: currentColor;
      transform: rotate(225deg);
  }
}

/* switch */

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb-underlay::before, .mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb-underlay::after {
  /* hover */
  background-color: var(--materialdesign-color-switch-off-hover);
}

.mdc-switch.mdc-switch--checked .mdc-switch__track {
  background-color: var(--materialdesign-color-switch-on);
  border-color: var(--materialdesign-color-switch-on);
}
.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
  background-color: var(--materialdesign-color-switch-on);
  border-color: var(--materialdesign-color-switch-on);
}

@supports not (-ms-ime-align: auto) {
  .mdc-switch__thumb-underlay::before, .mdc-switch__thumb-underlay::after {
    /* @alternate */
    background-color: var(--materialdesign-color-switch-on);
  }
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
  background-color: var(--materialdesign-color-switch-off);
  border-color: var(--materialdesign-color-switch-off);
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
  background-color: var(--materialdesign-color-switch-track);
  border-color: var(--materialdesign-color-switch-track);
}

/* slider */

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
  background-color: var(--materialdesign-color-slider-before-thumb);
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-container {
  background-color: var(--materialdesign-color-slider-after-thumb);
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker::after,
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker-container::after {
  background-color: var(--materialdesign-color-slider-track-marker);
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb {
  fill: var(--materialdesign-color-slider-thumb);
  stroke: var(--materialdesign-color-slider-thumb);
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__focus-ring {
  fill: var(--materialdesign-color-slider-thumb);
}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
  fill: var(--materialdesign-color-slider-thumb);
}